.permintaan-layanan {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.permintaan-layanan .navigation {
  display: flex;
  width: 100%;
  height: 88px;
  align-items: center;
  justify-content: center;
  gap: 100px;
  padding: 20px 80px;
  position: fixed;
  z-index: 1;
  background-color: var(--white);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: var(--stroke);
}

.permintaan-layanan .logo {
  display: flex;
  width: 239px;
  align-items: center;
  gap: 10px;
  padding: 8px 0px;
  position: relative;
}

.permintaan-layanan .group {
  position: relative;
  width: 40px;
  height: 22.76px;
}

.permintaan-layanan .text {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex: 0 0 auto;
}

.permintaan-layanan .g {
  position: relative;
  width: 62px;
  height: 24px;
}

.permintaan-layanan .text-wrapper {
  color: var(--black);
  position: absolute;
  top: 0;
  left: 0;
  font-family: var(--body-regular-font-family);
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.permintaan-layanan .div-wrapper {
  position: relative;
  width: 37px;
  height: 24px;
  margin-right: -2px;
}

.permintaan-layanan .div {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: var(--blue-1);
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.permintaan-layanan .menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.permintaan-layanan .item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 4px 10px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 8px;
}

.permintaan-layanan .label {
  color: var(--black);
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--body-regular-font-family);
  font-weight: var(--body-regular-font-weight);
  font-size: var(--body-regular-font-size);
  letter-spacing: var(--body-regular-letter-spacing);
  line-height: var(--body-regular-line-height);
  white-space: nowrap;
  font-style: var(--body-regular-font-style);
}

.permintaan-layanan .label-2 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--body-regular-font-family);
  font-weight: var(--body-regular-font-weight);
  color: var(--greyscale-900);
  font-size: var(--body-regular-font-size);
  letter-spacing: var(--body-regular-letter-spacing);
  line-height: var(--body-regular-line-height);
  white-space: nowrap;
  font-style: var(--body-regular-font-style);
}

.permintaan-layanan .frame {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  position: relative;
}

.permintaan-layanan .button-no,
.permintaan-layanan .button {
  all: unset;
  box-sizing: border-box;
  padding: 10px 18px;
  background-color: var(--blue-1);
  border: 1px solid;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 1000px;
  overflow: hidden;
  box-shadow: var(--shadow-xs);
  border-color: var(--blue-1);
  cursor: pointer; /* Added cursor pointer */
  transition: background-color 0.3s ease; /* Added transition effect */
}

.permintaan-layanan .button:hover {
  background-color: var(--black);
  /* Added hover effect */
}

.permintaan-layanan .text-2 {
  color: var(--white);
  position: relative;
  width: fit-content;
  font-family: var(--body-bold-font-family);
  font-weight: var(--body-bold-font-weight);
  font-size: var(--body-bold-font-size);
  letter-spacing: var(--body-bold-letter-spacing);
  line-height: var(--body-bold-line-height);
  white-space: nowrap;
  font-style: var(--body-bold-font-style);
}

.permintaan-layanan .img {
  position: relative;
  width: 24px;
  height: 24px;
}

.permintaan-layanan .bg {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.permintaan-layanan .BG {
  position: relative;
  flex: 1;
  align-self: stretch;
  width: 100%;
  flex-grow: 1;
}

.permintaan-layanan .BG-wrapper {
  display: flex;
  flex-direction: column;
  width: 1297px;
  height: 1264px;
  align-items: flex-start;
  gap: 10px;
  position: absolute;
  top: -138px;
  left: -127px;
}

.permintaan-layanan .frame-2 {
  display: flex;
  flex-direction: column;
  width: 1440px;
  align-items: center;
  gap: 64px;
  padding: 100px 140px;
  position: relative;
  flex: 0 0 auto;
  margin-top: -1881px;
}

.permintaan-layanan .frame-2-1 {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: 64px;
  padding: 160px 100px 100px 100px;
  /* Atas, Kanan, Bawah, Kiri */
  position: relative;
  flex: 0 0 auto;
  background-color: var(--neutral-bg);
  overflow: hidden;
}

.permintaan-layanan .paragraph-container {
  display: flex;
  flex-direction: column;
  width: 819px;
  align-items: center;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
}

.permintaan-layanan .heading {
  align-self: stretch;
  font-weight: var(--heading-2-semibold-font-weight);
  color: var(--neutraltext-primary);
  font-size: var(--heading-2-semibold-font-size);
  text-align: center;
  line-height: var(--heading-2-semibold-line-height);
  position: relative;
  margin-top: -1px;
  font-family: var(--heading-2-semibold-font-family);
  letter-spacing: var(--heading-2-semibold-letter-spacing);
  font-style: var(--heading-2-semibold-font-style);
}

.permintaan-layanan .description {
  color: var(--neutraltext-secondary);
  text-align: center;
  position: relative;
  align-self: stretch;
  font-family: var(--heading-4-regular-font-family);
  font-weight: var(--heading-4-regular-font-weight);
  font-size: var(--heading-4-regular-font-size);
  letter-spacing: var(--heading-4-regular-letter-spacing);
  line-height: var(--heading-4-regular-line-height);
  font-style: var(--heading-4-regular-font-style);
}

.permintaan-layanan .frame-3 {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  gap: 20px;
  padding: 24px;
  position: relative;
  flex: 0 0 auto;
  background-color: var(--white);
  border-radius: 8px;
  border: 1px solid;
  border-color: var(--stroke);
  box-shadow: 7px 8px 54px #4921ff12;
}

.permintaan-layanan .permintaan-ini-wrapper {
  height: 56px;
  align-items: center;
  padding: 16px 24px;
  background-color: #fffaeb;
  border-color: #fedf89;
  display: flex;
  gap: 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  border-radius: 8px;
  border: 1px solid;
}

.permintaan-layanan .permintaan-ini {
  position: relative;
  flex: 1;
  margin-top: -10px;
  margin-bottom: -8px;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-weight: 500;
  color: transparent;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 21px;
}

.permintaan-layanan .span {
  color: #646464;
  font-family: var(--body-medium-font-family);
  font-style: var(--body-medium-font-style);
  font-weight: var(--body-medium-font-weight);
  letter-spacing: var(--body-medium-letter-spacing);
  line-height: var(--body-medium-line-height);
  font-size: var(--body-medium-font-size);
}

.permintaan-layanan .text-wrapper-2 {
  color: #4921ff;
  text-decoration: underline;
}

.permintaan-layanan .div-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.permintaan-layanan .frame-4 {
  display: flex;
  align-items: flex-start;
  gap: 32px;
  padding: 0px 0px 24px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: var(--white);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: var(--stroke);
}

.permintaan-layanan .text-wrapper-3 {
  position: relative;
  width: 40%;
  margin-top: -1px;
  font-family: var(--body-regular-font-family);
  font-weight: 500;
  color: var(--black);
  font-size: 18px;
  letter-spacing: 0;
  line-height: 27px;
}

.permintaan-layanan .field-form {
  align-items: center;
  background-color: var(--stroke);
  display: flex;
  justify-content: space-between;
  padding: 10px 14px;
  position: relative;
  flex: 1;
  flex-grow: 1;
  border-radius: 8px;
  border: 1.5px solid;
  border-color: var(--stroke);
}

.permintaan-layanan .field-form-isi {
  position: relative;
  display: flex;
  flex-direction: column;
  border: 1.5px solid var(--stroke);
  border-radius: 8px;
  width: 56%;
}

.permintaan-layanan .form-isi {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  position: relative;
  flex: 0 0 auto;
  background-color: var(--neutral-bg);
  overflow: hidden;
}

.permintaan-layanan .form-input::placeholder {
  color: var(--gray);
  /* Warna hint teks */
}

.permintaan-layanan .field-form-dropdown {
  position: relative;
  display: flex;
  flex-direction: column;
  border: 1.5px solid var(--stroke);
  border-radius: 8px;
  width: 56%;
}

.permintaan-layanan .smithy-weber {
  position: relative;
  width: fit-content;
  margin-top: -1.5px;
  font-family: var(--body-regular-font-family);
  font-weight: 500;
  color: var(--gray);
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.permintaan-layanan .frame-5 {
  display: flex;
  width: 24px;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  position: relative;
}

.permintaan-layanan .field-form-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 14px;
  position: relative;
  flex: 1;
  flex-grow: 1;
  border-radius: 8px;
  border: 1.5px solid;
  border-color: var(--stroke);
}

.permintaan-layanan .field-form-3 {
  height: 180px;
  align-items: flex-start;
  border-color: var(--stroke);
  display: flex;
  justify-content: space-between;
  padding: 10px 14px;
  position: relative;
  flex: 1;
  flex-grow: 1;
  border-radius: 8px;
  border: 1.5px solid;
}

.permintaan-layanan .frame-6 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.permintaan-layanan .text-3 {
  margin-top: -1px;
  color: var(--white);
  position: relative;
  width: fit-content;
  font-family: var(--body-bold-font-family);
  font-weight: var(--body-bold-font-weight);
  font-size: var(--body-bold-font-size);
  letter-spacing: var(--body-bold-letter-spacing);
  line-height: var(--body-bold-line-height);
  white-space: nowrap;
  font-style: var(--body-bold-font-style);
}

.permintaan-layanan .button-2 {
  all: unset;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 10px 18px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 1000px;
  overflow: hidden;
  border: 1px solid;
  border-color: var(--stroke);
  box-shadow: var(--shadow-xs);
}

.permintaan-layanan .text-4 {
  margin-top: -1px;
  color: var(--black);
  position: relative;
  width: fit-content;
  font-family: var(--body-bold-font-family);
  font-weight: var(--body-bold-font-weight);
  font-size: var(--body-bold-font-size);
  letter-spacing: var(--body-bold-letter-spacing);
  line-height: var(--body-bold-line-height);
  white-space: nowrap;
  font-style: var(--body-bold-font-style);
}

.permintaan-layanan .frame-7 {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  gap: 64px;
  padding: 100px 100px;
  position: relative;
  flex: 0 0 auto;
  background-color: var(--white);
}

.permintaan-layanan .paragraph-container-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.permintaan-layanan .heading-2 {
  align-self: stretch;
  font-weight: var(--heading-2-semibold-font-weight);
  color: var(--black);
  font-size: var(--heading-2-semibold-font-size-2);
  line-height: var(--heading-2-semibold-line-height);
  position: relative;
  margin-top: -1px;
  font-family: var(--heading-2-semibold-font-family);
  letter-spacing: var(--heading-2-semibold-letter-spacing);
  font-style: var(--heading-2-semibold-font-style);
}

.permintaan-layanan .p {
  position: relative;
  align-self: stretch;
  font-family: var(--heading-4-regular-font-family);
  font-weight: var(--heading-4-regular-font-weight);
  color: var(--gray);
  font-size: var(--heading-4-regular-font-size);
  letter-spacing: var(--heading-4-regular-letter-spacing);
  line-height: var(--heading-4-regular-line-height);
  font-style: var(--heading-4-regular-font-style);
}

.permintaan-layanan .frame-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  padding: 24px;
  position: relative;
  align-self: stretch;
  width: 100%;
  border: 1px solid;
  border-radius: 8px;
  flex: 0 0 auto;
  border-color: var(--stroke);
}

.permintaan-layanan .frame-8 {
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  gap: 8px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.permintaan-layanan .frame-9 {
    display: flex;
    align-items: flex-start;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    border-radius: 8px;
    overflow: hidden;
    border-top: 1px solid;
    border-color: var(--stroke);
    background-color: var(--stroke);
}
.permintaan-layanan .frame-9-content-row {
  display: flex;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  /* border-radius: 8px; */
  overflow: hidden;
  border-bottom: 1px solid grey;
  border-color: var(--stroke);
}


.permintaan-layanan .frame-10 {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 18px 24px;
  position: relative;
  flex: 0 0 auto;
  background-color: var(--stroke);
}

.permintaan-layanan .text-wrapper-4 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--body-medium-font-family);
  font-weight: var(--body-medium-font-weight);
  color: var(--gray);
  font-size: var(--body-medium-font-size);
  letter-spacing: var(--body-medium-letter-spacing);
  line-height: var(--body-medium-line-height);
  white-space: nowrap;
  font-style: var(--body-medium-font-style);
}

.permintaan-layanan .frame-11 {
  display: flex;
  width: 100px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 18px 24px;
  position: relative;
  background-color: var(--stroke);
}

.permintaan-layanan .text-wrapper-5 {
  position: relative;
  flex: 1;
  margin-top: -1px;
  font-family: var(--body-medium-font-family);
  font-weight: var(--body-medium-font-weight);
  color: var(--gray);
  font-size: var(--body-medium-font-size);
  letter-spacing: var(--body-medium-letter-spacing);
  line-height: var(--body-medium-line-height);
  font-style: var(--body-medium-font-style);
}

.permintaan-layanan .frame-12 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 18px 24px;
  position: relative;
  flex: 1;
  flex-grow: 1;
  background-color: var(--stroke);
}

.permintaan-layanan .frame-13 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 18px 24px;
  position: relative;
  flex: 0 0 auto;
  background-color: var(--stroke);
}

.permintaan-layanan .text-wrapper-6 {
  position: relative;
  width: 100px;
  margin-top: -1px;
  font-family: var(--body-medium-font-family);
  font-weight: var(--body-medium-font-weight);
  color: var(--gray);
  font-size: var(--body-medium-font-size);
  letter-spacing: var(--body-medium-letter-spacing);
  line-height: var(--body-medium-line-height);
  font-style: var(--body-medium-font-style);
}

.permintaan-layanan .frame-14 {
  display: flex;
  width: 68px;
  align-items: center;
  gap: 10px;
  padding: 18px 24px;
  position: relative;
}

.permintaan-layanan .frame-15 {
  display: flex;
  width: 100px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 18px 24px;
  position: relative;
}

.permintaan-layanan .frame-16 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 18px 24px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.permintaan-layanan .frame-17 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 18px 24px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.permintaan-layanan .text-wrapper-7 {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: var(--body-medium-font-family);
  font-weight: var(--body-medium-font-weight);
  color: var(--gray);
  font-size: var(--body-medium-font-size);
  letter-spacing: var(--body-medium-letter-spacing);
  line-height: var(--body-medium-line-height);
  font-style: var(--body-medium-font-style);
}

.permintaan-layanan .text-wrapper-8 {
  position: relative;
  align-self: stretch;
  width: 151px;
  margin-top: -1px;
  font-family: var(--body-medium-font-family);
  font-weight: var(--body-medium-font-weight);
  color: var(--gray);
  font-size: var(--body-medium-font-size);
  letter-spacing: var(--body-medium-letter-spacing);
  line-height: var(--body-medium-line-height);
  font-style: var(--body-medium-font-style);
}

.permintaan-layanan .frame-18 {
  display: flex;
  width: 148px;
  align-items: center;
  gap: 10px;
  padding: 18px 24px;
  position: relative;
}

.permintaan-layanan .footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  gap: 72px;
  padding: 64px 100px;
  position: relative;
  flex: 0 0 auto;
  background-color: var(--blue-1);
}

.permintaan-layanan .frame-19 {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.permintaan-layanan .logo-2 {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 8px;
  position: relative;
  flex: 0 0 auto;
  background-color: #ffffff;
  border-radius: 8px;
}

.permintaan-layanan .text-5 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #192644;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.permintaan-layanan .frame-20 {
  display: flex;
  width: 365px;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
}

.permintaan-layanan .menu-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.permintaan-layanan .heading-3 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-weight: 700;
  color: var(--stroke);
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.permintaan-layanan .item-2 {
  align-self: stretch;
  margin-top: -1px;
  font-weight: 500;
  color: var(--white);
  position: relative;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
}

.permintaan-layanan .item-3 {
  align-self: stretch;
  font-weight: 500;
  color: var(--white);
  position: relative;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
}

.permintaan-layanan .link-wrapper {
  display: flex;
  align-items: center;
  gap: 754px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.permintaan-layanan .link {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  position: relative;
  flex: 0 0 auto;
}

.permintaan-layanan .ic-baseline {
  position: relative;
  width: 20px;
  height: 20px;
}

.permintaan-layanan .item-4 {
  width: fit-content;
  margin-top: -1px;
  font-weight: 400;
  color: var(--stroke);
  white-space: nowrap;
  position: relative;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
}

.permintaan-layanan .dropdown-icon {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  pointer-events: none;
  width: 24px;
  height: 24px;
  background-image: url('img/vuesax-outline-arrow-down-3.svg');
  background-size: contain;
  background-repeat: no-repeat;
  color: transparent;
}

.permintaan-layanan .frame:hover .dropdown-menu {
  display: block;
}

.permintaan-layanan .dropdown-menu {
  display: none;
  position: absolute;
  background-color: var(--white);
  padding: 8px 8px;
  min-width: 100px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1;
  top: 100%;
  left: 0;
  border-radius: 5px;
}

.permintaan-layanan .dropdown-menu-log {
  display: none;
  position: absolute;
  background-color: var(--white);
  padding: 8px 8px;
  min-width: 100px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1;
  top: 100%;
  border-radius: 5px;
}

.permintaan-layanan .file-input {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  opacity: 0;
  z-index: -1;
}

.permintaan-layanan .file-label {
  cursor: pointer;
  color: var(--gray);
  font-family: var(--body-regular-font-family);
  font-weight: 500;
  font-size: 20px;
  height: auto;
}

.permintaan-layanan .file-label::after {
  content: attr(data-text);
}

/* Style untuk label layanan */
.permintaan-layanan .label .layanan {
  cursor: pointer;
}

.permintaan-layanan .label .layanan:hover+.menu-dropdown {
  display: block;
}

.permintaan-layanan .dropdown-menu li {
  position: relative;
  display: block;
}

.permintaan-layanan .frame:hover .dropdown-menu-log,
.permintaan-layanan .item.layanan:hover .dropdown-menu {
  display: block;
  /* Tampilkan dropdown menu saat item dihover */
}

.permintaan-layanan .dropdown-menu li a {
  color: var(--black);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.permintaan-layanan .dropdown-menu li a:hover {
  background-color: var(--stroke);
}

.permintaan-layanan .menu-dropdown li a:hover {
  background-color: var(--stroke);
}

.permintaan-layanan .form-input,
.permintaan-layanan .form-dropdown {
  padding: 10px 14px;
  border: none;
  outline: none;
  border-radius: 8px;
  font-family: var(--body-regular-font-family);
  font-weight: 500;
  color: var(--black);
  font-size: 18px;
  letter-spacing: 0;
  line-height: 27px;
  -webkit-appearance: none;
  /* Remove default styling for dropdowns in Safari */
  -moz-appearance: none;
  /* Remove default styling for dropdowns in Firefox */
  appearance: none;
  /* Remove default styling for dropdowns in other browsers */
}

.permintaan-layanan .field-up-wrapper {
  display: flex;
  width: 56%;
  flex-direction: column;
}